@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

body {
  font-family: "Noto Sans TC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
